<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}" type="text/css">
   <title>My Website</title>
   <link rel="icon" href="{{ url_for('static', filename='image/favicon.png') }}" type="image/x-icon">
   <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
   <h1>Welcome to my Website!</h1>
</body>
</html>
